:root {
    --clr-primary-400: #003a44;
    --clr-primary-200: #a5c548;
    --clr-primary-300: #2aa555;
    --clr-secondary-400: #133c55;
    --clr-secondary-300: #748a9d;
    --clr-neutral-100: #ffffff;
    --clr-neutral-300: #707070;

    --fw-400: 400;
    --fw-700: 700;
    --fw-600: 600;

    --fs-400: 1.25rem;
    --fs-600: 2.5rem;
    --fs-700: 3.5rem;
    --fs-900: 7.5rem;
}
