:root {
    --clr-primary-400: #133c55;
    --clr-primary-300: #748a9d;
    --clr-accent-700: #003a44;
    --clr-accent-400: #a5c548;
    --clr-accent-500: #2aa555;
    --clr-neutral-100: #ffffff;
    --clr-neutral-300: #707070;

    --fw-400: 400;
    --fw-700: 700;
    --fw-600: 600;

    --fs-400: 1.25rem;
    --fs-500: 1.5rem;
    --fs-600: 1.75rem;
    --fs-700: 2.5rem;
    --fs-900: 5rem;
}

@media (min-width: 40rem) {
    :root {
        --fs-600: 2.5rem;
        --fs-700: 3.5rem;
        --fs-900: 7.5rem;
    }
}

/* ----- RESET -----*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ----- General styles ----- */
body {
    font-family: "Montserrat", sans-serif;
    font-size: var(--fs-400);
}

section {
    padding: 5em 0;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

h1 {
    font-size: var(--fs-500);
    font-weight: var(--fw-700);
}

@media (min-width: 40rem) {
    section {
        padding: 8em 0;
    }
}

/* ----- Utility classes ----- */
.container {
    max-width: var(--container-width, 60rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

.split {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--flex-gap, 5em);
}

.split > * {
    flex-basis: 100%;
}

@media (min-width: 40rem) {
    .split {
        flex-direction: row;
    }
}

.auto-grid {
    display: grid;
    justify-items: center;
    grid-gap: 1rem;
}

@supports (width: min(var(--grid-size, 15rem), 100%)) {
    .auto-grid {
        grid-template-columns: repeat(
            auto-fit,
            minmax(min(var(--grid-size, 15rem), 100%), 1fr)
        );
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.bg-primary-300 {
    background-color: var(--clr-primary-300);
    color: var(--clr-primary-400);
}

.bg-primary-400 {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    --accent: var(--clr-accent-400);
}

.btn {
    background: var(--bg-accent, var(--clr-accent-400));
    padding: 0.5em 2em;
    text-decoration: none;
    font-size: var(--fs-400);
    font-weight: var(--fw-600);
    border-radius: 0.5rem;
    color: var(--clr-neutral-100);
}

/* ----- Components ----- */

.primary-header {
    position: absolute;
    left: 0;
    right: 0;
    filter: drop-shadow(0px 1.5rem 0 var(--accent, var(--clr-accent-400)));
    font-size: var(--fs-600);
    font-weight: var(--fw-700);
}

.primary-header__inner {
    padding: 1em 1em 5em;
    clip-path: url(#headerPathSmall);
}

.logo span {
    color: var(--accent);
}

.hero {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30vh auto auto;
    grid-gap: 1em;
    align-items: center;

    background-image: url("/assets/images/bg-hero-sm.png");
    background-size: cover;
    background-position: center;
}

.hero__content {
    grid-row: 2;
    opacity: 0.8;
    padding: 2em;

    display: flex;
}

.hero__content img {
    max-width: 4em;
}

.hero .btn {
    grid-row: 3;
    justify-self: center;
}

@media (min-width: 40rem) {
    .primary-header__inner {
        padding-bottom: 4em;
        clip-path: url(#headerPathBig);
    }

    .hero {
        grid-template-columns: 4fr 3fr;
        grid-template-rows: 50% auto minmax(1em, 1fr);
        grid-gap: 4rem;
    }

    .hero__content {
        grid: 2/1;
        border-radius: 0 20rem 20rem 0;
        opacity: 1;
        justify-content: flex-end;
    }

    .hero__content h1 {
        flex-basis: 20ch;
    }

    .hero .btn {
        grid-row: 2;
        grid-column: 2;
        align-self: end;
        justify-self: start;
    }
}

.card .number {
    font-size: var(--fs-900);
    font-weight: var(--fw-700);
    color: var(--clr-primary-300);
}

.primary-footer {
    padding: 5em 2em;
}
